<style>
fieldset { margin-top: 30px }
.input-group-addon { padding: 10px 11px !important }
</style>
<%= form_for @default_statement, html: { class: "direct-upload col-lg-12 form-horizontal" } do |f| %>
<div class="modal fade col-lg-12" id="individual-video-page" tabindex="-1" role="dialog"
aria-labelledby="upload_title" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
	  <div class="modal-content col-lg-12">
		  <div class="modal-header">
			<button id="close-button" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h2 class="modal-title" id="upload_title"><%= modal_title %></h2>
		  </div>
		<%= render 'statements/show' %>
		</div>
  	</div>
</div>

<% end %>