<div id="video-answers" class="row col-lg-12">
<% @videos.each do |video| %>  
  <div class="col-lg-3">
    <div style="margin-left: 5px">
      <h4 class="col-lg-12"><%=link_to video.title, video %></h4> 
      <iframe width="324" height="180" src="<%=video.youtube_embed_url%>?hd=1&rel=0&autohide=1&showinfo=0" frameborder="0"></iframe>
    </div>
    <div class="col-lg-12">
      <a href="https://twitter.com/share"
         class="twitter-share-button"
         data-text="Why do you want to fix our democracy? Check out <%= video.title %>" <!-- TODO deep link to video>
         data-via="lessig2016"
         data-size="large"
         data-hashtags="FixDemocracyFirst">Tweet</a>
      <div class="fb-share-button"
         data-href="http://fixdemocracyfirst.us/" <!-- TODO deep link to video -->
         data-layout="button_count"></div>
     </div>
  </div>
  <%= render 'statements/modal', video: video %>  
<% end %>
</div>