// Place all the styles related to the Statements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.large-video-frame {
  height: 800px;
  width: 125%;
  transform: scale(0.8);
  transform-origin: 0 0;
}
